name: Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ezequielln87
          template: classic
          base: header, activity, community
          languages: yes
          isocalendar: yes
          achievements: yes
          lines: yes
