name: Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ezequielln87
          template: classic

          # Base limpa (sem nota)
          base: header, activity, repositories

          # Linguagens (forte e neutro)
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8

          # Calendário (consistência visual, sem score)
          plugin_isocalendar: yes

          # Código escrito
          plugin_lines: yes

          # DESATIVAR TUDO QUE GERA NOTA
          plugin_achievements: no
          plugin_habits: no
          plugin_habits_charts: no
          plugin_habits_facts: no
          plugin_followup: no
          plugin_notable: no
