name: Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ezequielln87
          template: classic
          config_timezone: America/Sao_Paulo
          config_output: github-metrics.svg
          config_locale: pt-br

          # Base mínima e útil
          base: header, activity

          # Linguagens
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 6

          # Calendário simples
          plugin_isocalendar: yes

          # Código escrito
          plugin_lines: yes

          # Ignorar o repo do perfil (README)
          repositories:
            ignored:
              - ezequielln87

          # Desligar tudo que gera ruído
          plugin_achievements: no
          plugin_habits: no
          plugin_habits_charts: no
          plugin_habits_facts: no
          plugin_followup: no
          plugin_notable: no
          plugin_repositories: no
          plugin_community: no
